ul.breadcrumbs {
	text-align:right;
	margin-top:-25px;
	margin-bottom:5px;
	height:22px;
}

ul.breadcrumbs a {
	font-family:"Nimbus Sans", Arial;
}

div.alert + ul.breadcrumbs {
	margin-top:-5px;
}

ul.breadcrumbs li {
	display:inline;
}

ul.breadcrumbs li.current a {
	color:#f0b000;
}

ul.breadcrumbs li:after {
	content:">>";
	margin:0 15px;
	font-family:"Nimbus Sans", Arial;
}

ul.breadcrumbs li:last-child:after {
	content:none;
}

@media (min-width:768px) {
	ul.breadcrumbs li {
		font-size:11px;
	}
}

@media (min-width:992px) {
	ul.breadcrumbs li {
		font-size:13px;
	}
}

@media (max-width:991px) {
	ul.breadcrumbs li:after {
		margin:0 10px;
	}
}

@media (max-width:767px) {
	ul.breadcrumbs {
		margin-top:5px;
		height:auto;
	}

	ul.breadcrumbs li {
		display:block;
	}

	ul.breadcrumbs li:before {
		content:">>";
		margin-right:5px;
	}

	ul.breadcrumbs li:after {
		content:none;
		margin:0;
	}
}
