h4 {
	margin:30px 0 5px 0;
}

@media (min-width:768px) {
	table.overview tr td:first-child {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		max-width:0;
	}

	table.overview th:nth-child(2) {
		width:140px;
	}

	table.overview th:nth-child(n+3) {
		width:60px;
	}

	table.overview td:nth-child(n+3) {
		text-align:center;
	}
}

@media (max-width:767px) {
	table th:nth-child(2) {
		width:150px;
	}

	table th:nth-child(n+3),
	table td:nth-child(n+3) {
		display:none;
	}
}
